.socialMediaHeader,.socialMediaLinks{
    background: linear-gradient(90deg, rgb(69, 66, 66), rgba(89, 89, 89,1));
    margin: auto;
    border: 1px solid rgba(143, 142, 142, 0.95);
}
.socialArrowBeteen{
    margin: auto;
}

.socialMediaText{
    letter-spacing: 0.05em;   
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-weight: 700;
}

.PageWelcomeHeader{
    letter-spacing: 0.05em;   
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-weight: 700;  
}

.socialIcons:hover{
 animation: pulse 1s ease-in;
 -webkit-animation: pulse 1s ease-in;
}
/* Creates the pulsing on Hover Animation */
@keyframes pulse {
0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
50% {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}
100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
}
