footer{
    background:linear-gradient(90deg ,rgb(35, 38, 44),rgba(35, 38, 75,0.5));
    margin-top:50px;
}

.copyrightText{
    letter-spacing: 0.05em;   
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-weight: 700;
}

.footerTimeText{
    letter-spacing: 0.05em;   
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-weight: 700;
}