.descriptionContainer{
    background:rgba(39, 34, 82, 0.15);
}
.homeIntroductionTitle{
    letter-spacing: 0.05em;   
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-weight: 700;
    margin: 1rem 1.5rem;
    margin:1rem 1.5rem;
}

.introductionHeader{
    letter-spacing: 0.15em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
    color:white;
    font-weight: 500;
    animation: slideIn 1s ease-in-out;
    -webkit-animation: slideIn 1s ease-in-out;
}

.introductionText{
    letter-spacing: 0.05em;   
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    color:white;
    font-weight: 400;
    animation: slideIn 1s ease-in-out;
    -webkit-animation: slideIn 1s ease-in-out;
}

@keyframes slideIn{
    0%{
        transform: translateY(-20%);
        opacity: 0;
        -webkit-transform: translateY(-20%);
        -moz-transform: translateY(-20%);
        -ms-transform: translateY(-20%);
        -o-transform: translateY(-20%);
    }
    100%{
        transform: translateY(0);
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}
}