@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  background:rgba(109, 95, 240, 0.85);
  overflow-y: scroll;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}