@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  /* background:rgba(109, 95, 240, 0.85); */
  background:linear-gradient(90deg ,rgb(35, 38, 44),rgba(35, 38, 75,1));
  overflow-y: scroll;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}